@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url(./fontes.css);
@import url(./global.css);
@import url(./index.css);
@import url(./reponsive.css);
* {
    margin: none;
    padding: none;
}

header {
    border-bottom: 2px solid rgb(218, 78, 46);
    background-color: rgba(0, 0, 0, 0.943);
    padding-top: 20px;
}

a {
    color: #Fff;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    opacity: 0.7;
    color: orangered;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: orangered;
    margin-bottom: 22px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 15vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-top: 20px;
    margin-left: 32px;
    font-size: 17px;
}

.nav-list li:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

#em_breve {
    padding: none;
    margin: none;
    color: rgb(108, 106, 106);
    font-size: 9px;
    display: flex;
    justify-content: start;
}

#divu {
    color: rgb(108, 106, 106);
    cursor: not-allowed;
}

#divu:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: .3s;
}

@media (max-width:999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        opacity: 0;
        position: absolute;
        top: 18vh;
        right: 0;
        width: 50vw;
        height: 62vh;
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), #222121);
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        border-left: 2px solid rgb(218, 78, 46);
        border-bottom: 2px solid rgb(218, 78, 46);
        transition: .8s all
    }
    .nav-list.active {
        opacity: 1;
        transition: .8s all;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background-color: orangered;
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background-color: orangered;
}


/* CONTEUDO DO BODY ABAIXO */

body {
    background-color: #222121;
    color: white;
}

article {
    border-bottom: 1px solid rgb(218, 78, 46);
}

#titulo1 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subtitulo1 {
    font-family: 'Gadugi';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

#p1 {
    font-family: 'Gadugi';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

#p2 {
    font-family: 'Gadugi';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.convite {
    box-shadow: white 0px 0px 2px;
}

#card {
    border: orangered solid 1px;
    background-image: url(../midias/tenma.jpg);
    background-position: center;
    background-size: cover;
    size: 18px;
    margin-top: 1px;
    height: 520px;
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}

#card:hover,
#card:focus {
    transform: translateX(15px) scale(1.1);
}

.card-body {
    color: white;
    margin-top: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.622);
    box-shadow: white 0px 0px 2px;
    padding-bottom: 30px;
}

.btn {
    color: #534e4e;
    background-color: rgba(0, 0, 0, 0.611);
    font-size: 19px;
    box-shadow: white 0px 0px 8px;
}

.btn:hover {
    color: rgba(148, 142, 142, 0.611);
    background-color: rgba(29, 24, 24, 0.35);
    box-shadow: orangered 0px 0px 8px;
}

.em-breve-btn {
    color: orangered;
    font-size: 18px;
    position: fixed;
    display: flex;
    top: 80%;
    right: 65%;
}


/* Colocar sublinhado no link */

.link-card-divulgacao {
    border-bottom: .2px solid orangered;
}