@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url(./fontes.css);
@import url(./global.css);
@import url(./index.css);
* {
    margin: none;
    padding: none;
}

header {
    border-bottom: 2px solid rgb(218, 78, 46);
    background-color: rgba(0, 0, 0, 0.943);
    padding-top: 20px;
}

a {
    color: #Fff;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    opacity: 0.7;
    color: orangered;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: orangered;
    margin-bottom: 22px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 15vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-top: 20px;
    margin-left: 32px;
    font-size: 17px;
}

.nav-list li:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

#em_breve {
    padding: none;
    margin: none;
    color: rgb(108, 106, 106);
    font-size: 9px;
    display: flex;
    justify-content: start;
}

#divu {
    color: rgb(108, 106, 106);
    cursor: not-allowed;
}

#divu:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: .3s;
}

@media (max-width:999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        opacity: 0;
        position: absolute;
        top: 18vh;
        right: 0;
        width: 50vw;
        height: 62vh;
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), #222121);
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        border-left: 2px solid rgb(218, 78, 46);
        border-bottom: 2px solid rgb(218, 78, 46);
        transition: .8s all
    }
    .nav-list.active {
        opacity: 1;
        transition: .8s all;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background-color: orangered;
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background-color: orangered;
}


/* CONTEUDO DO BODY ABAIXO */

main {
    background-image: url(../midias/backgroundAnuncio2.webp);
    box-shadow: 0px 0px 5px orangered;
}

body {
    background-color: #222121;
    color: white;
}

.titulo {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, rgb(16, 255, 16), rgb(255, 255, 0), rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.formulario {
    width: 490px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.692);
}

.formulario p {
    width: 100%;
    font-size: 1.5em;
}

.field {
    width: 100%;
    margin: 15px 0;
}

.field label,
.field span {
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

.radiobox label {
    width: auto;
    display: inline-block;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

input#nao {
    margin-left: 30px;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

#enviar {
    display: block;
    background-color: #ccc;
    height: 45px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.navbar-toggler-icon {
    padding-left: 35px;
}